<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DXApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="mysqlCustom" connectionString="XpoProvider=MySql;server=172.16.0.12;port=3306;user id=fingerprint; password=fingerprint2016; database=iap_db;persist security info=true;CharSet=utf8;convert zero datetime=True; " />
        <add name="DXApplication1.My.MySettings.iap_dbConnectionString"
            connectionString="server=172.16.0.12;user id=fingerprint;password=fingerprint2016;persistsecurityinfo=True;database=iap_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <DXApplication1.My.MySettings>
            <setting name="skin" serializeAs="String">
                <value>Visual Studio 2010</value>
            </setting>
        </DXApplication1.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
